<% if (post.categories && post.categories.length){ %>
  <div class="article-category">
    <%- list_categories(post.categories, {
      show_count: false,
      class: 'article-category',
      style: 'none',
      transform: function (name) {
        return '<i class="bi bi-archive-fill"></i>  '+name
      }
    }) %>
  </div>
<% } %>