<% if (post.tags && post.tags.length){ %>
    <div>
        <i class="bi bi-tags-fill text-primary"></i>
        <%- list_tags(post.tags, {
            show_count: false,
            class: {
                li: 'article-tag',
                ul: 'd-inline-block article-tag-list'
            }
        }) %>
    </div>
<% } %>