/*
 * Globals
 */

body {
    background-image: url("/img/bg.png");
    color: #555;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    color: #333;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

.article-entry img {
    max-width: 80%;
    margin: 24px auto;
    max-height: 300px;
    display: block;
}

a {
    word-break: break-word;
}

pre {
    font-size: 12px;
}

p, li {
    font-size: 16px;
}


blockquote {
    border-left: 3px solid #0B9BA9;
    background: #eee;
    padding: 12px;
    font-size: 12px;
}

blockquote p {
    font-size: 16px;
}

.jumbotron {
    margin-bottom: 0;
    min-height: 640px;
    z-index: 10;
    background-image: url("https://api.dujin.org/bing/1920.php");
    background-repeat: no-repeat;
    background-size: cover;
}

#particles-js {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background: #e7ecf6;
}

.main-content {
    position: relative;
    z-index: 20;
    flex: 1;
}

/*
 * Masthead for nav
 */
.nav-item {
    display: inline-block;
}

a.nav-link.active {
    background-color: rgb(0, 140, 160);
    border-radius: 4px;
}

.wy-nav {
    background-color: rgba(0, 140, 160, 0.6);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
}

.navbar-nav {
    width: 100%;
}


.navbar-dark .navbar-nav .nav-link {
    color: #eee;
}

/*
 * Blog name and description
 */
.blog-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}

.blog-description {
    font-size: 20px;
    color: #999;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
    font-size: 18px;
    line-height: 1.5;
}

.lab-item {
    margin-bottom: 12px;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    margin: 0 -15px 15px;
}

.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}

/* Pagination */
.pager {
    margin-bottom: 60px;
    text-align: left;
}

.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}

/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}

/*
 * Footer
 */

.footer-bottom {
    margin-top: 24px;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 2px rgba(0, 0, 0, 0.24);
}

.ui-bottom {
    margin-bottom: 0;
}


.article-category {
    float: right;
}

.article-category:before {
    font-family: "Font Awesome 5 Free";
    color: #007BFF;
    content: "\f009";
    font-weight: 900;
    margin-right: 0.3em;
}

.article, .archive-year-month-wrap, .widget-wrap, .article-nav, .page-nav {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 12px;
    margin-bottom: 16px;
}

.archive-year-month {
    font-size: 22px;
    color: #1687a7;
}

.archive-article-title {
    font-size: 16px;
}

a.article-title {
    color: #0B9BA9;
}

.article-tag-list {
    padding: 0;
}

.article-tag-list:before {
    font-family: "Font Awesome 5 Free";
    color: #007BFF;
    content: "\f02b";
    font-weight: 900;
    padding-right: 0.3em;
}

.article-nav {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: 78px;
}

@media (min-width: 768px) {
    .article-nav {
        height: 78px;
    }
}

@media (min-width: 992px) {
    .article-nav {
        height: 48px;
    }

    .blog-nav-right-search {
        margin-left: auto;
        margin-right: 24px;
    }
}

@media (min-width: 1200px) {
    .article-nav {
        height: 48px;
    }

    .blog-nav-right-search {
        margin-left: auto;
        margin-right: 24px;
    }
}


.article-tag-list-item {
    display: inline;
    margin-right: 8px;
}

.article-nav-left {
    float: left;
}

.article-nav-right {
    float: right;
}

.article-nav-title {
    margin-left: 12px;
    display: inline;
}

.page-nav {
    text-align: center;
}

.page-number, .space, .extend {
    margin-left: 4px;
    margin-right: 4px;
}

.category-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.category-list-item {
    font-size: 14px;
}

.category-list-count {
    float: right;
}

.category-list-count:before {
    content: "(";
}

.category-list-count:after {
    content: ")";
}

.recent-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.recent-list-item {
    font-size: 14px;
}

.search-keyword {
    color: #c7254e;
}

.wy-footer {
    background-color: #0B9BA9;
    color: white;
    padding-bottom: 4px;
    position: relative;
    z-index: 500;
}

.wy-footer a {
    color: #eee;
}

.recent-list-item a {
    color: #0B9BA9;
}

.wy-footer ul {
    margin-bottom: 0;
}

.container-reward {
    display: flex;
    align-content: center;
    margin: 24px 0;
}

.img-reward {
    height: 320px;
    width: 320px;
    margin: auto;
}

#searchInput {
    margin-top: 12px;
    margin-bottom: 12px;
}

.all-post-link {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
}

.fa-weixin {
    color: #1AAD19;
}

.fa-envelope {
    color: #007BFF;
}

.fa-github {
    color: black;
}

.p-about {
    margin-bottom: 0;
    font-size: 14px;
}

.img-pay {
    margin: 16px;
    display: inline-block;
    width: 40%;
}

/**
剪切板
*/

.about-vue {
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #777;
    display: inline-block;
}

.clipboard-qrcode {
    margin: 24px auto;
    display: block;
    max-width: 240px;
    max-height: 240px;
}

.swagger-ui .col {
    width: auto;
}

/*评论*/
.comments-input {
    padding: 4px;
}

.no-comments {
    text-align: center;
    font-size: 16px;
    color: #999;
}

.comment-username {
    font-size: 12px;
    color: #333;
}

.comment-info {
    padding: 0 8px;
}

.comment-create-time {
    color: #555;
    font-size: 10px;
}

.comment-reply, .comment-like {
    padding: 0 4px;
    height: 28px;
    font-size: 12px;
    margin-right: 15px;
}

.comment-reply-input-group {
    margin: 0 0 8px 0;
    height: 28px;
    padding: 0 0 0 20px;
}

.comment-reply-input {
    font-size: 14px;
}

.comment-reply-to, .comment-quote-user {
    font-size: 14px;
    color: rgb(51, 97, 254);
}

.comment-reply-send {
    font-size: 14px;
    padding: 0 4px;
}

.comment-quote {
    padding: 4px 8px;
    font-size: 14px;
    margin: 8px 0 0 20px;
}

.comment-avatar {
    border-radius: 14px;
}

.comment-content {
    color: #222;
    font-size: 16px;
    padding: 4px 8px 4px 36px;
    margin-bottom: 8px;
}

.margin-top {
    margin-top: 12px;
}

.comments-add {
    position: relative;
}

.comments-logging-cover {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 8px;
    top: 0;
    z-index: 100;
    text-align: center;
}

.tagcloud{
    position: relative;
    padding-bottom:100%;
    width: 100%
}
