/*
 * Globals
 */

body {
    background: #e2e1e0;
    color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    color: #333;
}

thead{
    background: #B39DDB;
}

tbody{
    background: #B2DFDB;
}

th,td{
    padding: 6px;
    border: 1px solid #777;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

.article-entry img{
    max-width: 100%;
    height: auto;
}

pre{
    font-size: 12px;
}

p,li{
    font-size: 16px;
}

blockquote{
    border-left: 3px solid #0B9BA9;
    background: #eee;
    padding: 12px;
    font-size: 12px;
}

blockquote p{
    font-size: 16px;
}

/*
 * Masthead for nav
 */

.wycode-nav {
    background-color: #34495e;
}

.wycode-nav-a {
    color: #fff;
}

.wycode-nav-li-active {
    background-color: #0B9BA9;
}

.blog-masthead {
    background-color: #0B9BA9;
    height: 42px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* Nav links */
.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 8px;
    font-weight: bold;
    color: #fff;
}

.blog-nav-right-rss {
    padding: 8px;
    float: right;
    color: #fff;
}

.blog-nav-right-search {
    padding: 8px;
    float: right;
    color: #fff;
}

.blog-nav-right-rss:hover,
.blog-nav-right-rss:focus {
    color: #fff;
    text-decoration: none;
}

.blog-nav-right-search:hover,
.blog-nav-right-search:focus {
    color: #fff;
    text-decoration: none;
}

.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #fff;
    text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
    color: #fff;
}

.blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}

/*
 * Blog name and description
 */

.blog-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}

.blog-description {
    font-size: 20px;
    color: #999;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
    font-size: 18px;
    line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    margin: 0 -15px 15px;
}

.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}

/* Pagination */
.pager {
    margin-bottom: 60px;
    text-align: left;
}

.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}

/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}

/*
 * Footer
 */

.footer-bottom {
    margin-top: 24px;
    box-shadow: 0 -1px 3px rgba(0,0,0,0.12), 0 -1px 2px rgba(0,0,0,0.24);
}

.ui-bottom{
    margin-bottom: 0;
}


.article-category{
    float: right;
    display: inline;
}

.article-category:before{
    font-family: FontAwesome;
    color: #007BFF;
    content: "\f009";
    margin-right: 0.3em;
}

.article,.archive-year-month-wrap,.widget-wrap,.article-nav,.comment{
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 12px;
    margin-bottom: 24px;
}

.archive-year-month{
    font-size: 28px;
}

.archive-article-title{
    font-size: 18px;
}

a.article-title{
    color: #0B9BA9;
}

.article-tag-list{
    padding: 0;
}

.article-tag-list:before{
    font-family: FontAwesome;
    color: #007BFF;
    content: "\f02b";
    padding-right: 0.3em;
}

.article-nav{
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height: 50px;
    margin-bottom: 24px;
}

.article-tag-list-item{
    display: inline;
    margin-right: 8px;
}

.article-nav-left{
    float: left;
}

.article-nav-right{
    float: right;
}

.article-nav-title{
    margin-left: 12px;
    display: inline;
}

.page-nav{
    text-align: center;
}

.category-list{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.category-list-item{
    font-size: 14px;
}

.category-list-count{
    float: right;
}

.category-list-count:before{
    content: "(";
}
.category-list-count:after{
    content: ")";
}

.recent-list{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.recent-list-item{
    font-size: 14px;
}

.search-keyword{
    color: #c7254e;
}

.navbar-dark .navbar-nav .nav-link {
    color: #eee;
}

a.nav-link.active{
    background-color: rgba(0,140,160,0.8);
    border-radius: 4px;
}

.wy-footer {
    background-color: #0B9BA9;
    color:white;
}

.wy-footer a{
    color: #eee;
}

.recent-list-item a{
    color:#0B9BA9;
}

.wy-footer ul{
    margin-bottom: 0;
}
