<% if (site.categories.length){ %>
  <div class="widget-wrap">
    <h4 class="widget-title"><i class="bi bi-archive-fill"></i> <%= __('categories') %></h4>
    <div class="widget">
      <%- list_categories({show_count: theme.show_count}) %>
    </div>
  </div>
<% } %>
