<div class="widget-wrap">
    <h4 class="widget-title"><i class="fa fa-user" aria-hidden="true"></i> 友情链接</h4>
    <div class="widget">
        <p class="p-about"><i class="fas fa-envelope"></i> 广告位招租：<%- mail_to(theme.about.email) %></p>
    </div>
</div>