<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <h4 class="widget-title"><i class="bi bi-tags-fill"></i> <%= __('tagcloud') %></h4>
    <div class="widget tagcloud" id="tagsList">
      <%- tagcloud() %>
    </div>
  </div>
<% } %>