<div class="col-lg-12 widget-wrap">
    <h1 class="text-center" style="color: #008ca0;margin: 48px">
        <i class="fas fa-unlink fa-4x"></i></h1>
    <h1 class="text-center" style="font-size:28px;margin-bottom: 24px;">404 Not Found</h1>
    <p class="text-center">你访问的页面不存在，或已迁移到新地址</p>
    <hr>
    <p class="text-center">nginx/1.12.2(CentOS 7.4)</p>
</div>