<div id="swagger-ui" style="width: 100%;"></div>
<script src="https://cdn.bootcss.com/swagger-ui/3.22.1/swagger-ui-bundle.js"></script>
<script>
    SwaggerUIBundle({
            //url: "https://petstore.swagger.io/v2/swagger.json",
            url: "https://wycode.cn/web/v2/api-docs",
            dom_id: '#swagger-ui',
            presets: [
                SwaggerUIBundle.presets.apis,
                SwaggerUIBundle.SwaggerUIStandalonePreset
            ],
            layout: "BaseLayout"
        });
</script>
