<%- partial('_partial/archive', {pagination: config.category, index: true}) %>
<div style="width: 100%; margin: 16px;">
    <amp-ad width="100vw" height="90" type="adsense" data-ad-client="ca-pub-4650660107955528" data-ad-slot="6505490608"
        data-auto-format="rspv" data-full-width="">
        <div overflow=""></div>
    </amp-ad>
</div>