<div id="clipboard" style="width:100%">
    <wycode-clipboard qr-image="<%- url_for('/img/clipboard/clipboard.jpg') %>"></wycode-clipboard>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<%- js('js/clipboard/index.js') %>
