<div id="clipboard">
    <% page.addClipboard = true %>
    <wycode-clipboard qr-image="<%- url_for('/img/clipboard/clipboard.jpg') %>"></wycode-clipboard>
</div>
<div style="width: 100%; margin-bottom: 16px;">
    <amp-ad width="100vw" height="90" type="adsense" data-ad-client="ca-pub-4650660107955528" data-ad-slot="6505490608"
        data-auto-format="rspv" data-full-width="">
        <div overflow=""></div>
    </amp-ad>
</div>
<div id="comments">
    <% page.addComment = true %>
    <wycode-comments path="<%- page.path %>"></wycode-comments>
</div>