<div id="clipboard" class="col-md-12">
    <% page.addClipboard = true %>
    <wycode-clipboard qr-image="<%- url_for('/img/clipboard/clipboard.jpg') %>"></wycode-clipboard>
</div>

<div class="col-md-12">
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4650660107955528"
        data-ad-slot="6505490608" data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<div id="comments" class="col-md-12">
    <% page.addComment = true %>
    <wycode-comments path="<%- page.path %>"></wycode-comments>
</div>