<div class="col-md-8 blog-main">
    <%- partial('_partial/archive', {pagination: 2, index: true}) %>
</div>

<div class="col-md-3 blog-sidebar">
    <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
</div>