<div class="col-sm-8 blog-main">
    <%- partial('_partial/archive', {pagination: 2, index: true}) %>
</div>

<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
</div>