<div class="col-md-9 blog-main">
    <%- partial('_partial/archive-index') %>
    <amp-ad width="100vw" height="90" type="adsense" data-ad-client="ca-pub-4650660107955528" data-ad-slot="6505490608"
        data-auto-format="rspv" data-full-width="">
        <div overflow=""></div>
    </amp-ad>
</div>

<div class="col-md-3 blog-sidebar">
    <%- partial('_partial/sidebar') %>
    <amp-ad width="100vw" height="320" type="adsense" data-ad-client="ca-pub-4650660107955528" data-ad-slot="6505490608"
        data-auto-format="rspv" data-full-width="">
        <div overflow=""></div>
    </amp-ad>
</div>