<div class="col-md-9 blog-main">
    <%- partial('_partial/archive-index') %>

    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4650660107955528" data-ad-slot="6505490608"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

</div>

<div class="col-md-3 blog-sidebar">
    <%- partial('_partial/sidebar') %>

    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4650660107955528" data-ad-slot="6505490608"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <ins class="adsbygoogle" style="display:block; margin-top: 12px;" data-ad-client="ca-pub-4650660107955528" data-ad-slot="6505490608"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

</div>