ul.nav.nav-list
    li.nav-list-item
        a.nav-list-link( href="http://wycode.cn" data-hover="首页") 首页
    li.nav-list-item.active
        a.nav-list-link( href="http://wycode.cn/blog/" data-hover="博客") 博客
    li.nav-list-item
        a.nav-list-link( href="http://wycode.cn/lab.html" data-hover="实验室") 实验室
    li.nav-list-item
        a.nav-list-link( href="http://wycode.cn/docs/index.html" data-hover="API") API
    li.nav-list-item
        a.nav-list-link( href="http://wycode.cn/android-docs/reference/packages.html" data-hover="安卓文档") 安卓文档
    li.nav-list-item
        a.nav-list-link( href="http://wycode.cn/about.html" data-hover="关于") 关于