<% page.posts.each(function(post){ %>
<%- partial('article-index', {post: post}) %>
<% }) %>
<% if (page.total > 1){ %>
<nav class="page-nav">
    <%- paginator({
        prev_text: __('prev'),
        next_text: __('next')
    }) %>
</nav>
<% } %>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 横幅 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4650660107955528"
     data-ad-slot="1398817789"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>