<footer class="footer-bottom wy-footer">
    <div class="container">
        <div class="row justify-content-center">
            <ul class="list-inline text-center ui-bottom">
                <li><a href="http://beian.miit.gov.cn" target="_blank" style="font-size:12px;">陕ICP备15011477号</a></li>
                <li style="font-size:12px;">©wycode.cn 2015-<%= date(new Date(), 'YYYY') %> All Right Reserved</li>
            </ul>
        </div>
    </div>
</footer>
