<footer class="footer-bottom">
    <ul class="list-inline text-center ui-bottom">
        <li><a href="http://www.miibeian.gov.cn/" target="_blank">陕ICP备15011477号</a></li>
        <li>© <%= date(new Date(), 'YYYY') %> Wy Loves You!</li>
        <br/>
        <li>Powered by <a href="http://hexo.io/" target="_blank">Hexo</a></li>
        <li>Theme by <a href="http://github.com/wangyucode" target="_blank">wycode</a></li>
    </ul>
</footer>