<div class="jumbotron">
    <div class="container text-center">
        <h2 style="color:#eee;font-size: 36px;margin-top: 64px"><%- theme.jumbotron.welcome %></h2>
        <p style="color:#eee;font-size: 20px;margin-top: 64px">
            <cite><%- theme.jumbotron.slogan %></cite>
        </p>
    </div>
</div>