<div class="jumbotron" style="min-height: 500px;background-image:url(<%- url_for(theme.jumbotron.image)%>);">
    <div class="container text-center">
        <h2 style="font-size: 36px;margin-top: 64px"><%- theme.jumbotron.welcome %></h2>
        <p style="font-size: 20px;margin-top: 64px">
            <cite><%- theme.jumbotron.slogan %></cite>
        </p>
    </div>
</div>