<div class="wycode-nav">
    <div class="container-fluid">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#wy-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar">首页</span>
                <span class="icon-bar">博客</span>
                <span class="icon-bar">实验室</span>
                <span class="icon-bar">API</span>
                <span class="icon-bar">安卓文档</span>
                <span class="icon-bar">关于</span>
            </button>
            <a class="navbar-brand" href="http://wycode.cn" target="_self" style="margin-top: -12px">
                <img alt="Brand" src="img/logo_48.png"/>
            </a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="wy-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="http://wycode.cn/index.html" class="wycode-nav-a"><img src="img/navi/home.png"> 首页<span class="sr-only">(current)</span></a></li>
                <li class="wycode-nav-li-active"><a href="http://wycode.cn/blog/" class="wycode-nav-a"><img src="img/navi/blog.png"> 博客</a></li>
                <li><a href="http://wycode.cn/lab.html" class="wycode-nav-a"><img src="img/navi/lab.png"> 实验室</a></li>
                <li><a href="http://wycode.cn/docs/index.html" class="wycode-nav-a"><img src="img/navi/api.png"> API</a></li>
                <li><a href="http://wycode.cn/android-docs/reference/packages.html" class="wycode-nav-a"><img src="img/navi/android.png"> 安卓文档</a></li>
                <li><a href="http://wycode.cn/about.html" class="wycode-nav-a"><img src="img/navi/handshake.png"> 关于</a></li>
            </ul>
        </div>
    </div>
</div>